<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Appccelerate.Fundamentals" version="2.8.0" targetFramework="net45" userInstalled="true" />
  <package id="Appccelerate.StateMachine" version="2.12.0" targetFramework="net45" userInstalled="true" />
  <package id="CompareNETObjects" version="3.02.0.0" targetFramework="net45" userInstalled="true" />
  <package id="log4net" version="2.0.3" targetFramework="net45" userInstalled="true" />
  <package id="Newtonsoft.Json" version="7.0.1-beta3" targetFramework="net45" userInstalled="true" />
  <package id="protobuf-net" version="2.0.0.668" targetFramework="net45" userInstalled="true" />
  <package id="SteamKit2" version="1.6.3" targetFramework="net45" />
</packages>